<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;PAPER_WIDTH&quot;:768,&quot;PAPER_HEIGHT&quot;:1024,&quot;PAPER_SCROLL_LEFT&quot;:0,&quot;PAPER_SCROLL_TOP&quot;:0,&quot;THEME&quot;:&quot;calculator&quot;}">
 </head> 
 <body> 
  <v-css-layout responsive="true" size-full="true"> 
   <v-horizontal-layout responsive="true"> 
    <v-label responsive="true" _id="_value"></v-label> 
   </v-horizontal-layout> 
   <v-grid-layout responsive="true" width="248px" _id="_buttonGrid"> 
    <row> 
     <column> 
      <v-button plain-text="" _id="_minus">
        - 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_plus">
        + 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_times">
        * 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_divide">
        / 
      </v-button> 
     </column> 
    </row> 
    <row> 
     <column> 
      <v-button plain-text="" _id="_7">
        7 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_8">
        8 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_9">
        9 
      </v-button> 
     </column> 
    </row> 
    <row> 
     <column> 
      <v-button plain-text="" _id="_4">
        4 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_5">
        5 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_6">
        6 
      </v-button> 
     </column> 
    </row> 
    <row> 
     <column> 
      <v-button plain-text="" _id="_1">
        1 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_2">
        2 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_3">
        3 
      </v-button> 
     </column> 
    </row> 
    <row> 
     <column> 
      <v-button plain-text="" _id="_0">
        0 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_72">
        . 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_clear">
        C 
      </v-button> 
     </column> 
     <column> 
      <v-button plain-text="" _id="_enter">
        = 
      </v-button> 
     </column> 
    </row> 
   </v-grid-layout> 
  </v-css-layout>  
 </body>
</html>